@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.bookdemobtn {
    margin-top: -15px;
    padding-top: 1.35rem;
    padding-bottom: 1.35rem;
    font-size: 1rem;
    border-radius: 7.5rem;
    cursor: pointer;
    text-align: center;
    display: block;
    width: 150%;
    border: none;
    transition: 0.3s;
    background: #fff;
    color: #6a6ff0;
    border: 2px solid #6a6ff0;
    justify-content: center;
    align-items: bottom;
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.bookdemobtn:hover {
    background: #6a6ff0;
    color: #fff;
    border: 2px solid #6a6ff0;
}